// Colors
$main-orange: #f79b17;
$main-blue: #0797DF;
$main-black: #1F1F1F;

// Shadows
$main-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
